<?xml version='1.0' encoding='utf-8'?>
<widget id="com.investmentpro.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>InvestmentPro</name>
    <description>Premium Investment Platform</description>
    <author email="admin@investmentpro.com">InvestmentPro</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="loadUrlTimeoutValue" value="60000" />
    <platform name="android">
        <preference name="android-targetSdkVersion" value="36" />
        <preference name="android-minSdkVersion" value="22" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
